@import url('http://127.00.1:3000/index.html?serverWindowId=dee087a3-34c5-4fc2-8467-22bed52a34fa');

img {
    border-radius: 10px;
    border: 5px solid black;
    width: 60%;
    
}
body {
    background-color: rgb(168, 180, 183);
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: red;
    animation: color-change 5s infinite;
}

@keyframes color-change {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: yellow; }
    100% { color: red; }
}